<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
#<a href="mailto:yasuhiko.saito.ab.c@gmail.com">Click here</a> if you want to contact us
Contact Ruby on Rails Turorial about the sample app at the <a href="http://railstutorial.jp/contact">contact page</a>.

</p>